 .cuadros img{
    width: 100px;
    height: 100%;
    padding: 5px;
 }

 .cuadros{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-items: center;
   align-items: center;
   gap: 10px;
 }

 .Placa img{
    width: 200px;
    height: 100%;
 }
