 #Maletin{
    height: 150px;
    width: 150px;
 }

 #Maletin a img{
    height: 100%;
    width: 100%;
 }

 #Contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .Pizarra{
    width: 100%;
    height: 400px;
    background: none;
    background-image: url(/src\imagenesPortfolio\pizarron.png);
    background-size: 1002px 400px;
    background-repeat: no-repeat; 
    background-position: center;
    flex-direction: row;
    display: flex;
 }

 .Foto{
   width: 300px;
   height: 100%;
   padding-left: 125px;
   padding-top: 5px;
 }

 .Foto img, .Foto2 img{
   height: 80%;
   width: 80%;
   padding: 15px;
 }

 .Pegatinas{
   width: 100px;
   height: 100px;
   padding-top: 10px;
 }

 .Pegatinas a img, .Pegatinas2 a img{
   width: 100%;
   height: 100%;
   padding: 5px;
 }

 .Detalles{
   height: 100%;
   width: 400px;
   word-wrap: break-word; 
   word-break: break-word; 
   white-space: normal;
   padding-top: 15px;
 }
 
 .Detalles p{
   color: black;
   font-family: "Sriracha", serif;
 }

 .Foto2 {
  width: 300px;
  height: 100%;
 }

 .InicioC{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

 .Detalles2{
    background: none;
    background-image: url(/src\imagenesPortfolio\hojablanca.png);
    background-size: 1002px 400px;
    background-repeat: no-repeat; 
    background-position: center;
 }

 .Detalles2 p{
    color: black;
    font-family: "Sriracha", serif;
 }

 .Pegatinas2{
  flex-direction: row;
  display: flex;
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
 }
